/* 모바일_피부기초지식 */

.main{position: relative; margin-bottom: 45px}
.main img{width: 100%}
.main p{color: #fff; text-align: center; font-family: 'Nanum Gothic', sans-serif;}
.main p:nth-of-type(1){font-weight: 700; font-size: 20px; position: absolute; left: 50%; margin-left: -47px; top: 38%;}
.main p:nth-of-type(2){font-weight: 400; font-size: 13px; position: absolute; left: 50%; margin-left: -40.5px; top: 58%}

/* 요까지 메인비주얼 */

#content .title_area{position: relative; margin-bottom: 45px}
#content .title_area h2{text-align: center; font-family: 'Nanum Gothic', sans-serif; font-size: 28px; font-weight: 700; margin-bottom: 35px}
#content .title_area h2::after{content: ''; width: 35px; height: 3px; background: #004b84; position: absolute; left: 50%; margin-left: -17.5px; top: 48px; }
#content .title_area p{text-align: center; font-family: 'Nanum Gothic', sans-serif; font-size: 12px; font-weight: 400; background: #eaebef}

/* 요까지 타이틀 */

.tabs{overflow: hidden;}
.tabs a{display: block; float: left; width: 30%; font-family: 'Nanum Gothic', sans-serif; font-size: 18px; font-weight: 700; text-align: center; padding: 10px 0; border-radius: 5px; border: 1px solid #004b84}

.tabs a:nth-of-type(1){margin: 0 4% 0 18%}
.tabs a:nth-of-type(2){}
.tabs a.active {background: rgba(0,75,132,.2)}


/* 리터치 */
#content .content_area .retouch{margin-top: 100px;}
#content .retouch .retouch_top{padding: 0 10px; margin-bottom: 80px; position: relative}

#content .retouch .retouch_top p:nth-of-type(1){font-family: 'Nanum Gothic', sans-serif; font-weight: 700; margin-bottom: 15px;}
#content .retouch .retouch_top p:nth-of-type(2){font-family: 'Nanum Gothic', sans-serif; font-size: 25px; font-weight: 700; margin-bottom: 30px;}
#content .retouch .retouch_top p:nth-of-type(3){color: #eaebef; font-family: 'Nanum Myeongjo', serif; font-size: 70px; font-weight: 700; position: absolute; left: 15px; top: 20px; z-index: -1}
#content .retouch .retouch_top p:nth-of-type(4){line-height: 2em; text-align: justify; margin-bottom: 20px;}
#content .retouch .retouch_top p:nth-of-type(5){font-family: 'Nanum Gothic', sans-serif; font-size: 15px; font-weight: 700}


#content .retouch .tipbox img{width: 200px; position: relative; left: 50%; margin-left: -100px; top: 0; border-radius: 10px; margin-bottom: 30px; box-shadow: 2px 2px 5px 1px #999}
#content .retouch .tipbox dl{padding: 0 10px; margin-bottom: 80px;}

#content .retouch dl dt:nth-of-type(1){font-family: 'Nanum Gothic', sans-serif; font-size: 20px; font-weight: 700; margin-bottom: 15px;}
#content .retouch dl dt:nth-of-type(1)>span{font-size: 25px; color: #ffcc00;}
#content .retouch dl dd{line-height: 2em; text-align: justify; padding: 0 10px}
#content .retouch dl dd:nth-of-type(1){margin-bottom: 35px;}
#content .retouch dl dt:nth-of-type(2){font-family: 'Nanum Gothic', sans-serif; font-size: 20px; font-weight: 700; margin-bottom: 15px;}
#content .retouch dl dt:nth-of-type(2)>span{font-size: 20px; color: #004b84;}



/* 컴플렉스 */
#content .complex .complex_top{padding: 0 10px; margin-top: 100px; margin-bottom: 80px; position: relative}

#content .complex .complex_top p:nth-of-type(1){font-family: 'Nanum Gothic', sans-serif; font-weight: 700; margin-bottom: 15px;}
#content .complex .complex_top p:nth-of-type(2){font-family: 'Nanum Gothic', sans-serif; font-size: 25px; font-weight: 700; margin-bottom: 30px;}
#content .complex .complex_top p:nth-of-type(3){color: #eaebef; font-family: 'Nanum Myeongjo', serif; font-size: 70px; font-weight: 700; position: absolute; left: 15px; top: 20px; z-index: -1}
#content .complex .complex_top p:nth-of-type(4){line-height: 2em; text-align: justify; margin-bottom: 20px;}
#content .complex .complex_top p:nth-of-type(5){font-family: 'Nanum Gothic', sans-serif; font-size: 15px; font-weight: 700}


/* 순서 */
#content .complex .com_box{padding: 0 10px}
#content .complex .com_box h4{font-family: 'Nanum Gothic', sans-serif; font-size: 20px; font-weight: 700; margin-bottom: 15px;}
#content .complex .com_box>span{color: #ffcc00; font-family: 'Nanum Gothic', sans-serif; font-size: 15px; font-weight: 700; display: block; margin-bottom: 15px;}
#content .complex .com_box>p{text-align: justify; line-height: 2em; margin-bottom: 30px}

#content .complex .com_box ol{overflow: hidden; margin-bottom: 100px}
#content .complex .com_box li{float: left; width: 50%; padding-bottom: 20px}
#content .complex .com_box li img{width: 60%; margin-left: 20%; margin-bottom: 15px; padding-top: 15px; border-radius: 10px}
#content .complex .com_box li p{padding: 0 10px; line-height: 2em; font-size: 13px; text-align: justify}
#content .complex .com_box li p span{background: #ffcc00; font-weight: bold;}

#content .complex .com_box li:nth-of-type(1){background: #eee}
#content .complex .com_box li:nth-of-type(4){background: #eee}



