/* 약관동의페이지 */

.sub_cont_wrap{width: 900px; margin: 100px auto 150px; font-size: 12px}
.login_top{overflow: hidden; padding-top: 30px;}
.login_top h2{font-family: 'Nanum Gothic', sans-serif; font-size: 50px; color: #333; font-weight: 800; position: relative; padding-bottom: 80px; float: left}
.login_top h2::after{width: 900px; height: 5px; content: ''; background: #004b84; position: absolute; top: 80px; left: 0}
.login_top .form_logo{display: block; width: 100px; height: 100px; background: url(../../images/form_logo.jpg); text-indent: -999px; overflow: hidden; float: right; margin-top: -30px}

.join>div{margin-bottom: 50px;}


.member_tab{padding: 30px 0;border-top: 1px solid #333}
.member_tab a{font-size: 24px;padding: 10px;margin: 0 10px;color: #aaa;}
.member_tab a.on{color: #000;border-bottom: 2px solid #000;font-weight: bold}
.member_tab span{font-size: 24px;padding: 10px;margin: 0 10px;color: #000;font-weight: bold}

.join{text-align: left;}
.join h4{font-family: 'Nanum Gothic', sans-serif; font-size: 18px;margin-top: 30px; color: #333; position: relative; margin-left: 20px;}
.join h4::after{width: 8px; height: 8px; content: ''; border-radius: 4px; background: #004b84; position: absolute; top: 8px; left: -18px}
.join h4>span{font-weight: 400; font-size: 12px; color: red}

.join .policy{padding: 10px;overflow-y: scroll;height: 150px;margin: 10px 0;border: 1px solid #ddd; line-height: 1.5em;}


.join .button{text-align: center; margin-top: 80px; margin-left: 205px; overflow: hidden}
.join .button .ok{background: #004b84; color: #fff; cursor: pointer; float: left; display: block; text-align: center; font-family: 'Nanum Gothic', sans-serif; font-size: 18px; width: 130px; padding: 10px; margin-right: 20px;}
.allcheck{background: #fff; color: #004b84; border: 1px solid #004b84; cursor: pointer; float: left; display: block; text-align: center; font-family: 'Nanum Gothic', sans-serif; font-size: 18px; width: 130px; padding: 10px; margin-right: 20px;}

button{border: none}
.join .button .cancel{background: #bbb; color: #fff; cursor: pointer; float: left; display: block; text-align: center; font-family: 'Nanum Gothic', sans-serif; font-size: 18px; width: 150px; padding: 10px}

.join .button .ok:hover{background: #fff; color: #004b84; width: 128px; border: 1px solid #004b84;}


