/* 앰플엔 본문 */

#content .content_area .n_intro{margin: 0 50px 150px 50px; overflow: hidden; background: url(../images/content2/n_main.jpg) left top no-repeat;}
#content .content_area .n_intro .n_intro_text{float: right; width: 450px; height: 330px; padding: 35px 50px 35px 50px; background: #e5f2e0}
#content .n_intro .n_intro_text p:first-child{background: url(../images/content2/n_logo.jpg) center no-repeat; width: 100px; height: 107px; margin-bottom: 20px; text-indent: -999px; overflow: hidden;}
#content .n_intro .n_intro_text p:nth-child(2){font-family: 'Nanum Gothic', sans-serif; font-size: 35px; font-weight: 700; margin-bottom: 20px;}
#content .n_intro .n_intro_text p:nth-child(3){font-family: 'Nanum Gothic', sans-serif; font-size: 20px; font-weight: 700; margin-bottom: 20px;}
#content .n_intro .n_intro_text p:nth-child(4){font-family: 'Nanum Gothic', sans-serif; font-weight: 700; margin-bottom: 20px; line-height: 1.5em;}
#content .n_intro .n_intro_text p:nth-child(5){font-family: 'Nanum Gothic', sans-serif; font-weight: 700; color: #018445}



#content .n_philo{overflow: hidden; margin-bottom: 130px;}
#content .n_philo h3{font-family: 'Nanum Gothic', sans-serif; font-size: 25px; font-weight: 700; color: #018445; float: left;}
#content .n_philo>h3>span{color: #333}
#content .n_philo .n_philo_inner{width: 1000px; float: right; position: relative;}

#content .n_philo .n_philo_inner p:nth-of-type(1){float: left; width: 148px; height: 88px; padding-top: 25px; text-align: center; background: #e5f2e0; margin: 0px 100px 50px 0; line-height: 1.5em; border: dotted 1px #018445;}
#content .n_philo .n_philo_inner p:nth-of-type(1) span{font-weight: bold}
#content .n_philo .n_philo_inner ul{overflow: hidden}
#content .n_philo .n_philo_inner ul:nth-of-type(1) li{float: left; width: 113px; height: 78px; text-align: center; background: #e5f2e0; margin-right: 50px; padding-top: 35px; line-height: 1.5em; border: dotted 1px #018445;}
#content .n_philo .n_philo_inner p:nth-of-type(2){clear: both; margin: 30px 0; font-family: 'Nanum Gothic', sans-serif; font-size: 18px; font-weight: 700;}
#content .n_philo .n_philo_inner p:nth-of-type(3){line-height: 1.5em; margin-bottom: 50px;}

#content .n_philo .n_philo_inner i{color: #018445; font-size: 20px; position: absolute;}
#content .n_philo .n_philo_inner>i{left: 190px; top: 50px}
#content .n_philo .n_philo_inner ul li:nth-of-type(2) i{left: 382px; top: 50px;}
#content .n_philo .n_philo_inner ul li:nth-of-type(3) i{left: 545px; top: 50px;}

#content .n_philo .n_philo_inner ul:nth-of-type(2) li{float: left; width: 140px; text-align: center; border: solid 5px #018445; margin-right: 50px; line-height: 1.5em; font-family: 'Nanum Gothic', sans-serif; font-size: 15px; font-weight: 700}
#content .n_philo .n_philo_inner ul:nth-of-type(2) li:first-child{height: 93px; padding-top: 25px; }
#content .n_philo .n_philo_inner ul:nth-of-type(2) li:nth-child(2){height: 83px; padding-top: 35px;}
#content .n_philo .n_philo_inner ul:nth-of-type(2) li:nth-child(3){height: 83px; padding-top: 35px;}


#content .n_promise{overflow: hidden; margin-bottom: 130px}
#content .n_promise h3{font-family: 'Nanum Gothic', sans-serif; font-size: 25px; font-weight: 700; color: #018445; float: left;}
#content .n_promise h3>span{color: #333}
#content .n_promise .n_promise_inner{width: 1000px; float: right;}
#content .n_promise .n_promise_inner p:nth-of-type(1){font-family: 'Nanum Gothic', sans-serif; font-size: 18px; font-weight: 700; margin-bottom: 25px}
#content .n_promise .n_promise_inner p:nth-of-type(2){line-height: 1.5em; margin-bottom: 35px;}
#content .n_promise .n_promise_inner dl dt{font-family: 'Nanum Gothic', sans-serif; font-size: 15px; font-weight: 700; color: #018445; margin-bottom: 10px;}
#content .n_promise .n_promise_inner dl dd{margin-bottom: 20px;}



#content .n_product{margin-bottom: 150px;}
#content .n_product ul{overflow: hidden}
#content .n_product ul li{border: 1px solid #ccc; float: left; width: 268px; height: 350px; margin-right: 40px; margin-bottom: 20px;}


#content .n_product ul li:first-child{background: url(../images/content2/n_01.JPG);}
#content .n_product ul li:first-child div{width: 268px; height: 350px; text-align: center; background: rgba(229,242,224,.8); opacity: 0; transition: all .5s}
#content .n_product ul li:first-child:hover div{opacity: 1}
#content .n_product ul li:first-child div p:first-of-type{font-family: 'Nanum Gothic', sans-serif; font-size: 18px; font-weight: 700; padding-top: 100px; margin-bottom: 30px;}
#content .n_product ul li:first-child div p:last-of-type{line-height: 1.5em; font-size: 13px; margin-bottom: 30px;}
#content .n_product ul li:first-child div a{display: block; width: 80px; height: 25px; border: 1px solid #333; margin: 0 93px; padding-top: 7px; transition: all .3s}
#content .n_product ul li:first-child div a:hover{background: #333; color: #fff;}


#content .n_product ul li:nth-of-type(2){background: url(../images/content2/n_02.JPG)}
#content .n_product ul li:nth-of-type(2) div{width: 268px; height: 350px; text-align: center; background: rgba(229,242,224,.8); opacity: 0; transition: all .5s}
#content .n_product ul li:nth-of-type(2):hover div{opacity: 1}
#content .n_product ul li:nth-of-type(2) div p:first-of-type{font-family: 'Nanum Gothic', sans-serif; font-size: 18px; font-weight: 700; padding-top: 100px; margin-bottom: 30px;}
#content .n_product ul li:nth-of-type(2) div p:last-of-type{line-height: 1.5em; font-size: 13px; margin-bottom: 30px;}
#content .n_product ul li:nth-of-type(2) div a{display: block; width: 80px; height: 25px; border: 1px solid #333; margin: 0 93px; padding-top: 7px; transition: all .3s}
#content .n_product ul li:nth-of-type(2) div a:hover{background: #333; color: #fff;}


#content .n_product ul li:nth-of-type(3){background: url(../images/content2/n_03.JPG)}
#content .n_product ul li:nth-of-type(3) div{width: 268px; height: 350px; text-align: center; background: rgba(229,242,224,.8); opacity: 0; transition: all .5s}
#content .n_product ul li:nth-of-type(3):hover div{opacity: 1}
#content .n_product ul li:nth-of-type(3) div p:first-of-type{font-family: 'Nanum Gothic', sans-serif; font-size: 18px; font-weight: 700; padding-top: 100px; margin-bottom: 30px;}
#content .n_product ul li:nth-of-type(3) div p:last-of-type{line-height: 1.5em; font-size: 13px; margin-bottom: 30px;}
#content .n_product ul li:nth-of-type(3) div a{display: block; width: 80px; height: 25px; border: 1px solid #333; margin: 0 93px; padding-top: 7px; transition: all .3s}
#content .n_product ul li:nth-of-type(3) div a:hover{background: #333; color: #fff;}


#content .n_product ul li:nth-of-type(4){background: url(../images/content2/n_04.JPG); margin-right: 0;}
#content .n_product ul li:nth-of-type(4) div{width: 268px; height: 350px; text-align: center; background: rgba(229,242,224,.8); opacity: 0; transition: all .5s}
#content .n_product ul li:nth-of-type(4):hover div{opacity: 1}
#content .n_product ul li:nth-of-type(4) div p:first-of-type{font-family: 'Nanum Gothic', sans-serif; font-size: 18px; font-weight: 700; padding-top: 100px; margin-bottom: 30px;}
#content .n_product ul li:nth-of-type(4) div p:last-of-type{line-height: 1.5em; font-size: 13px; margin-bottom: 30px;}
#content .n_product ul li:nth-of-type(4) div a{display: block; width: 80px; height: 25px; border: 1px solid #333; margin: 0 93px; padding-top: 7px; transition: all .3s}
#content .n_product ul li:nth-of-type(4) div a:hover{background: #333; color: #fff;}


#content .n_product ul li:nth-of-type(5){background: url(../images/content2/n_05.JPG)}
#content .n_product ul li:nth-of-type(5) div{width: 268px; height: 350px; text-align: center; background: rgba(229,242,224,.8); opacity: 0; transition: all .5s}
#content .n_product ul li:nth-of-type(5):hover div{opacity: 1}
#content .n_product ul li:nth-of-type(5) div p:first-of-type{font-family: 'Nanum Gothic', sans-serif; font-size: 18px; font-weight: 700; padding-top: 100px; margin-bottom: 30px;}
#content .n_product ul li:nth-of-type(5) div p:last-of-type{line-height: 1.5em; font-size: 13px; margin-bottom: 30px;}
#content .n_product ul li:nth-of-type(5) div a{display: block; width: 80px; height: 25px; border: 1px solid #333; margin: 0 93px; padding-top: 7px; transition: all .3s}
#content .n_product ul li:nth-of-type(5) div a:hover{background: #333; color: #fff;}


#content .n_product ul li:nth-of-type(6){background: url(../images/content2/n_06.JPG)}
#content .n_product ul li:nth-of-type(6) div{width: 268px; height: 350px; text-align: center; background: rgba(229,242,224,.8); opacity: 0; transition: all .5s}
#content .n_product ul li:nth-of-type(6):hover div{opacity: 1}
#content .n_product ul li:nth-of-type(6) div p:first-of-type{font-family: 'Nanum Gothic', sans-serif; font-size: 18px; font-weight: 700; padding-top: 100px; margin-bottom: 30px;}
#content .n_product ul li:nth-of-type(6) div p:last-of-type{line-height: 1.5em; font-size: 13px; margin-bottom: 30px;}
#content .n_product ul li:nth-of-type(6) div a{display: block; width: 80px; height: 25px; border: 1px solid #333; margin: 0 93px; padding-top: 7px; transition: all .3s}
#content .n_product ul li:nth-of-type(6) div a:hover{background: #333; color: #fff;}


#content .n_product ul li:nth-of-type(7){background: url(../images/content2/n_07.JPG)}
#content .n_product ul li:nth-of-type(7) div{width: 268px; height: 350px; text-align: center; background: rgba(229,242,224,.8); opacity: 0; transition: all .5s}
#content .n_product ul li:nth-of-type(7):hover div{opacity: 1}
#content .n_product ul li:nth-of-type(7) div p:first-of-type{font-family: 'Nanum Gothic', sans-serif; font-size: 18px; font-weight: 700; padding-top: 100px; margin-bottom: 30px;}
#content .n_product ul li:nth-of-type(7) div p:last-of-type{line-height: 1.5em; font-size: 13px; margin-bottom: 30px;}
#content .n_product ul li:nth-of-type(7) div a{display: block; width: 80px; height: 25px; border: 1px solid #333; margin: 0 93px; padding-top: 7px; transition: all .3s}
#content .n_product ul li:nth-of-type(7) div a:hover{background: #333; color: #fff;}


#content .n_product ul li:nth-of-type(8){background: url(../images/content2/n_08.JPG); margin-right: 0;}
#content .n_product ul li:nth-of-type(8) div{width: 268px; height: 350px; text-align: center; background: rgba(229,242,224,.8); opacity: 0; transition: all .5s}
#content .n_product ul li:nth-of-type(8):hover div{opacity: 1}
#content .n_product ul li:nth-of-type(8) div p:first-of-type{font-family: 'Nanum Gothic', sans-serif; font-size: 18px; font-weight: 700; padding-top: 100px; margin-bottom: 30px;}
#content .n_product ul li:nth-of-type(8) div p:last-of-type{line-height: 1.5em; font-size: 13px; margin-bottom: 30px;}
#content .n_product ul li:nth-of-type(8) div a{display: block; width: 80px; height: 25px; border: 1px solid #333; margin: 0 93px; padding-top: 7px; transition: all .3s}
#content .n_product ul li:nth-of-type(8) div a:hover{background: #333; color: #fff;}

/* 팝업박스 */
.content_area .npopbox{width: 600px; height: 300px; background: #fff; padding: 20px; overflow: hidden; position: fixed; left: 50%; margin-left: -320px; top: 50%; margin-top: -170px; z-index: 70; display: none;}
.content_area .npopbox img{float: left; margin-right: 20px;}
.content_area .npopbox dl dt{margin: 35px 0; font-family: 'Nanum Gothic', sans-serif; font-size: 20px; font-weight: 700; color: #018445;}
.content_area .npopbox dl dd{line-height: 1.5em; margin-bottom: 15px;}
dd span{font-weight: bold; color: #018445;}

.content_area .npopbox .closeBtn{position: absolute; right: -5px; top: 15px;}

#back_box{width: 100%; height: 100%; background: rgba(57,73,89,.7); position: fixed; left: 0; top: 0; display: none; z-index: 60}



