/* 프리앤제 본문 */



#content .content_area .pre_top h3{font-family: 'Nanum Myeongjo', serif; font-size: 35px; font-weight: 700; text-align: center; margin-bottom: 20px;}
#content .content_area .pre_top p{font-family: 'Nanum Gothic', sans-serif; font-size: 20px; text-align: center; margin-bottom: 130px;}



#content .pre_01{overflow: hidden; width: 1200px; height: 400px; margin-bottom: 160px; background: url(../images/content3/pre_back01.jpg) left top no-repeat;}
#content .pre_01>span:nth-of-type(1){color: #bee1fb; font-size: 60px; font-family: 'Nanum Gothic', sans-serif; font-weight: 700; position: relative; left: 750px; top: 10px; z-index: -2}
#content .pre_01 h4{font-family: 'Nanum Gothic', sans-serif; font-size: 35px; font-weight: 700; position: relative; left: 780px; top: -10px}
#content .pre_01>span:nth-of-type(2){color: #ddd; font-size: 35px; font-family: 'Nanum Myeongjo', serif; position: relative; left: 750px; top: -20px; z-index: -2}
#content .pre_01 div{width: 450px; float: right; padding-top: 30px;}
#content .pre_01 div p{line-height: 1.5em; text-align: justify; margin-bottom: 10px;}



#content .pre_02{overflow: hidden; width: 1200px; height: 400px; margin-bottom: 160px; background: url(../images/content3/pre_back02.jpg) right top no-repeat}
#content .pre_02>span:nth-of-type(1){color: #bee1fb; font-size: 60px; font-family: 'Nanum Gothic', sans-serif; font-weight: 700;}
#content .pre_02 h4{font-family: 'Nanum Gothic', sans-serif; font-size: 35px; font-weight: 700; position: relative; left: 30px; top: -28px;}
#content .pre_02>span:nth-of-type(2){color: #ddd; font-size: 35px; font-family: 'Nanum Myeongjo', serif; position: relative; left: -280px; top: -28px;}
#content .pre_02 div{width: 450px; float: left; padding-top: 30px;}
#content .pre_02 div p{line-height: 1.5em; text-align: justify; margin-bottom: 10px;}




#content .pre_03{overflow: hidden; width: 1200px; height: 400px; margin-bottom: 160px; background: url(../images/content3/pre_back03.jpg) left top no-repeat}
#content .pre_03>span:nth-of-type(1){color: #bee1fb; font-size: 60px; font-family: 'Nanum Gothic', sans-serif; font-weight: 700; position: relative; left: 750px; top: 10px; z-index: -2}
#content .pre_03 h4{font-family: 'Nanum Gothic', sans-serif; font-size: 35px; font-weight: 700; position: relative; left: 780px; top: -10px}
#content .pre_03>span:nth-of-type(2){color: #ddd; font-size: 35px; font-family: 'Nanum Myeongjo', serif; position: relative; left: 820px; top: -20px; z-index: -2}
#content .pre_03 div{width: 450px; float: right; padding-top: 30px;}
#content .pre_03 div p{line-height: 1.5em; text-align: justify; margin-bottom: 10px;}


#content .pre_procuct_top h3{font-family: 'Nanum Myeongjo', serif; font-size: 35px; font-weight: 700; text-align: center; margin-bottom: 20px;}
#content .pre_procuct_top p{font-family: 'Nanum Gothic', sans-serif; font-size: 20px; text-align: center; margin-bottom: 120px;}


#content .pre_product ul{overflow: hidden; margin-bottom: 170px;}
#content .pre_product ul li{float: left; width: 194px; height: 400px; margin-right: 50px; transition: all .5s; border: double 3px #ccc}
#content .pre_product ul li:hover{border: double 3px #333}
#content .pre_product ul li:nth-of-type(1){background: url(../images/content3/pre_01.jpg) center top no-repeat}
#content .pre_product ul li:nth-of-type(2){background: url(../images/content3/pre_02.jpg) center top no-repeat}
#content .pre_product ul li:nth-of-type(3){background: url(../images/content3/pre_03.jpg) center top no-repeat}
#content .pre_product ul li:nth-of-type(4){background: url(../images/content3/pre_04.jpg) center top no-repeat}
#content .pre_product ul li:nth-of-type(5){background: url(../images/content3/pre_05.jpg) center top no-repeat; margin-right: 0}


#content .pre_product ul li dt{text-align: center; padding-top: 275px; font-weight: bold; opacity: .2; transition: all .5s;}
#content .pre_product ul li:hover dt{opacity: 1;}

#content .pre_product ul li dd{text-align: center; font-size: 13px; padding-top: 25px; line-height: 1.5em; opacity: .2; transition: all .5s}
#content .pre_product ul li:hover dd{opacity: 1;}

#content .pre_product ul li:nth-of-type(5) dd{padding-top: 10px;}




